$darkblue: #08154F;
$slateblue: #40518E;
$darkgreen: #0D6129;
$darkteal: #207178;
$lilac: #E5ABFE;
$pink: #FDA8CA;
$lightyellow: #FFF0AD;
$lightblue: #819EE1;
$shadowblack: rgba(0, 0, 0, 0.5);
$black: #000000;
$white: #FFFFFF;