body {
    background-color: whitesmoke;
    color: white;
    font-family: 'Arvo', serif;
    
    .navbar{
      padding-top: 100px;
      padding-left: 70em;
    }
  }

  #homePage {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages5.alphacoders.com%2F659%2Fthumb-1920-659468.jpg&f=1&nofb=1");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
  }

    #homePageText {
      font-family: 'Shadows Into Light', cursive;
      color: whitesmoke;
      display: absolute;
      margin: 150px;
      margin-top: 50px;
    }

    #profilePic {
      border-radius: 50%;
      opacity: 100%;
    }

  h3 {
    display: flex;
    justify-content: center;
    font-family: 'Arvo', serif;
    padding-bottom: 50px;
  }

    #bioPage {
      display: flex;
      background-color: #4a4eda;
      flex-flow: row wrap;
      justify-content: center;

      #bioText{
        margin: 200px;
        font-size: larger;
      }
      
    }

  #technologiesPage {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1516053256215-94022213b13c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

    #techPageText {
      color: black;
      margin: 200px;
      display: absolute;
      
    }

    .row {
      padding: 50px;
    }
  }

#projectsPage{
  background-color: #4a4eda;
  padding-top: 100px;
  padding-bottom: 100px;

  #projectsText {
    display: flex;
    flex-flow: row wrap;
    background-color: #4a4eda;
    justify-content: space-evenly;
  }

}

  
a:link, a:visited, a:active  {
  color: black;
}

a:hover {
  color: #8e4ada;
}

#socialMedia{
  color: black;
}

  .page-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    padding: auto;
  }

  #card {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: solid 5px whitesmoke;
    border-radius: 10px 10px 10px 10px;
    max-width: 400px;
    margin-top: 50px;
    padding: auto;
    text-align: center;
    font-size: 16px;
    font-family: 'Arvo', serif;
    background-color: #4a4eda;

    img {
      width: 370px;
      height: 370px;
    }
  }