body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Arvo', serif;
  }

  #bioPage {
    text-align: justify;
  }
  
  #projectsPage {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    padding: auto;
  }
  
  #card {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: solid 10px #9E9E9E;
    border-radius: 10px 10px 10px 10px;
    max-width: 29%;
    margin: auto;
    padding: auto;
    text-align: center;
    font-size: 16px;
    font-family: 'Arvo', serif;
    background-color: #2AB8CF;
  }
  
  #projectsPage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
    width: 90%;
  }
  
  .page-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    padding: auto;
  }