* {
    #card {
      width: 32%;
      min-width: 200px;
      margin: 0.66% auto;
    }
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    #card {
      min-width: 200px;
      margin: 0.66% auto;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    #card {
      min-width: 200px;
      margin: 0.66% auto;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    #card {
      width: 32%;
      min-width: 200px;
      margin: 0.66% auto;
    }
  }
  