@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../../../styles/variables';

* {
  #card {
    display: block;
    max-width: 400px;
    margin-top: 50px;
    padding: auto;
    text-align: center;
    font-size: 16px;
    font-family: 'Arvo', serif;
    // background-color: #40518E;

    img {
      width: 400px;
      height: 200px;
      margin: 1em;
      box-shadow: 0 2px 4px 0 $shadowblack;
    }

    .btn {
      box-shadow: 0 2px 4px 0 $shadowblack;
    }

    h2 {
      text-shadow: 1px 1px $shadowblack;
    }

    // #viewSite {
    //   color:$lightblue;
    // }
    
    // #github {
    //   color:$lilac;
    // }

  }

    // #card {
    //   width: 32%;
    //   min-width: 200px;
    //   margin: 0.66% auto;
    // }

  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    #card {
      min-width: 200px;
      margin: 0.66% auto;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    #card {
      min-width: 200px;
      margin: 0.66% auto;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    #card {
      width: 32%;
      min-width: 200px;
      margin: 0.66% auto;
    }
  }
  